@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Spartan:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Spartan:wght@500;700&display=swap');


:root{
    --font-spartan: 'Spartan', sans-serif;
}


html, body{
    margin: 0px;
    padding: 0px;
}
/****************** Navbar **************************/
.hamburger_icon{
    display: none;
}
.mobile_nav_display{
    display: none;
}

.navbar_wrapper{
    flex-direction: row;
    width: 1000px;
    margin: auto;
    height: 114px;
    align-items: center;
    display: flex;
}

.nav_button_container{
    display: flex;
    margin-left: 18px;
    width: 515px;
    justify-content: space-evenly;
}


.portfolio_anchor, .about_anchor, .contact_anchor{
    font-family: var(--font-spartan);
    font-size: 15px;
    color: #7d828f;
    font-weight: 700;
    text-decoration: none;
}
.portfolio_anchor:hover{
    color: black;
    border-bottom: 1px solid black;
}
.about_anchor:hover{
    color: black;
    border-bottom: 1px solid black;
}
.contact_anchor:hover{
    color: black;
    border-bottom: 1px solid black;
}


.active{
    color: black;
    border-bottom: 1px solid black;
}

/********************** Header Page    *********************************/
.paramour_home_tablet_image{
    display: none;
}
.water_building_image{
    display: none;
}
.feature_image_one_tablet{
    display: none;
}
.tower_building_image_two_tablet{
    display: none;
}
.prototype_building_image_three_tablet{
    display: none;
}
.paramour_home_mobile_image{
    display: none;
}
.water_building_image_tablet{
    display: none;
}
.water_building_image_mobile{
    display: none;
}


.header_image_container{
    text-align: center;
}

.header_description_container{
    position: absolute;
    top: 298px;
    left: 357px;
}

.upper_container{
    font-weight: 700;
}
.header_title_upper, .header_title_lower{
    font-family: var(--font-spartan);
    font-size: 80px;
    letter-spacing: -2px;
    color: #fff;
    margin: 0px;
}

.header_paragraph_container{
    width: 412px;
}

.header_lower_paragraph{
    font-family: var(--font-spartan);
    color: #fff;
    font-weight: 500;
}

.header_portfolio_container{
    position: absolute;
    top: 600px;
    left: 357px;
    width: 252px;
    height: 72px;
    background-color: #1b1d23;
    font-weight: 700;
    display: flex;
    text-decoration: none;
}
.header_portfolio_container:hover{
    background-color: #60636d;
}

.header_portfolio_container img{
    filter: invert(99%) sepia(3%) saturate(731%) hue-rotate(298deg) brightness(116%) contrast(100%);
    width: 24px;
    height: 18px;
    position: relative;
    top: 28px;
    left: 23px;
}


.portfolio_inner_text{
    font-family: var(--font-spartan);
    font-size: 15px;
    color: #fff;
    margin-top: 11%;
    margin-left: 36px;
}

.bottom_navigation_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 320px;
    height: 80px;
    position: absolute;
    bottom: -52px;
    left: 85px;
}

.bottom_one_btn, .bottom_two_btn, .bottom_three_btn, .bottom_four_btn{
    width: 80px;
    height: 80px;
    margin: 0px;
    padding: 31px;
    background-color: #fff;
    border: 1px black solid;
}

.middle_section_wrapper{
    height: auto;
    width: auto;
    margin-top: 75px;
}

.middle_section_title_container{
    width: 968px;
    margin-top: 56px;
    margin-left: 159px;
    font-weight: 700;
}
.middle_section_title{
    font-family: var(--font-spartan);
    font-size: 200px;
    letter-spacing: -5px;
    color: #eeeff4;
    margin: 0px;
    position: relative;
    z-index: 1;
}

.middle_section_description_container{
    width: 446px;
    height: 493px;
    margin-left: 349px;
    margin-top: -44px;

}
.middle_section_description_container :first-child{
    font-family: var(--font-spartan);
    font-size: 56px;
    letter-spacing: -2px;
    font-weight: 700;
    margin: 0px;
}

.middle_section_description{
    font-family: var(--font-spartan);
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #60636d;
}

.middle_image_description_container{
    display: flex;
}

.middle_image_container{
    position: relative;
    top: -123px;
    left: 122px;
}

.middle_image_bottom_container{
    text-align: center;
    height: 561px;
    margin-top: 67px;
}

.small_team_bottom_container{
    position: relative;
    top: -404px;
    width: 350px;
    text-align: start;
    left: 349px;
}
.small_teams_title{
    font-size: 56px;
    letter-spacing: -2px;
    font-family: var(--font-spartan);
    color: #fff;
    font-weight: 700;
    margin: 0px;
}

.about_bottom_button_container{
    width: 187px;
    height: 72px;
    background-color: #1b1d23;
    margin-top: 29px;
    display: flex;
    text-decoration: none;
}
.about_bottom_button_container:hover{
    background-color: #60636d;
}

.about_bottom_button_container img{
    filter: invert(99%) sepia(3%) saturate(731%) hue-rotate(298deg) brightness(116%) contrast(100%);
    width: 24px;
    height: 18px;
    position: relative;
    top: 25px;
    left: 53px;
}

.about_bottom_button{
    position: relative;
    top: 24px;
    left: 33px;
    font-family: var(--font-spartan);
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    margin: 0px;
    width: 77px;
}

.feature_wrapper{
    margin: 186px 154px 0px 154px;
}

.feature_top_title_container{
    display: flex;
    justify-content: space-between;
}

.feature_logo_container{
    font-size: 56px;
    font-family: var(--font-spartan);
    letter-spacing: -2px;
    font-weight: 700;
}
.feature_logo_container p{
    margin: 0px;
}

.see_all_btn_container{
    height: auto;
    width: 169px;
    background-color: #1b1d23;
    color: #fff;
    font-family: var(--font-spartan);
    font-weight: 700;
    font-size: 15px;
    display: flex;
    text-decoration: none;
}
.see_all_btn_container:hover{
    background-color: #60636d;
}


.see_all_btn_container p{
    position: relative;
    top: 10px;
    left: 20px;
    width: 59px;
}
.see_all_btn_container img{
    filter: invert(99%) sepia(3%) saturate(731%) hue-rotate(298deg) brightness(116%) contrast(100%);
    width: 24px;
    height: 18px;
    position: relative;
    top: 24px;
    left: 49px;
}

.feature_main_image_container{
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
}

.first_feature_image_container, .second_feature_image_container, .third_feature_image_container{
    height: 560px;
}

.feature_number_image_one{
    position: relative;
    top: -543px;
    font-size: 200px;
    color: #fff;
    opacity: 0.5;
    left: 283px;
    margin: 0px;
    width: 86px;
    font-family: var(--font-spartan);
    font-weight: 700;
}
.feature_number_image_two{
    position: relative;
    top: -543px;
    font-size: 200px;
    color: #fff;
    opacity: 0.5;
    left: 217px;
    margin: 0px;
    width: 133px;
    font-family: var(--font-spartan);
    font-weight: 700;
}
.feature_number_image_three{
    position: relative;
    top: -543px;
    font-size: 200px;
    color: #fff;
    opacity: 0.5;
    left: 232px;
    margin: 0px;
    width: 133px;
    font-family: var(--font-spartan);
    font-weight: 700;
}

.first_image_lower_description, .second_image_lower_description, .third_image_lower_description{
    position: relative;
    top: -344px;
    left: 57px;
    width: 300px;
}

.upper_first_feature_text, .upper_second_feature_text, .upper_third_feature_text{
    font-family: var(--font-spartan);
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}

.lower_first_feature_text, .lower_second_feature_text, .lower_third_feature_text{
    font-family: var(--font-spartan);
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    opacity: 0.7;
    font-weight: 500;
}

.home_footer_container{
    height: 330px;
    position: relative;
}

.bottom_button_container{
    display: flex;
    position: absolute;
    bottom: -8px;
    left: 154px;
    background-color: #eeeff4;
}

.footer_arch_container, .footer_portfolio_container, .footer_about_container{
    width: 200px;
    height: 200px;
}
.footer_portfolio_button, .footer_about_button, .footer_contact_button{
    position: relative;
    top: 79px;
    left: 69px;
    font-family: var(--font-spartan);
    font-weight: 700;
    font-size: 15px;
    color: #7d828f;
    cursor: pointer;
    text-decoration: none;
}

.footer_portfolio_button:hover{
    color: #1b1d23;
    width: 71px;
}
.footer_about_button:hover{
    color: #1b1d23;
    width: 76px;
}
.footer_contact_button:hover{
    color: #1b1d23;
    width: 67px;
}



.footer_arch_container{
    background-color: #1b1d23;
}
.footer_arch_container img{
    position: relative;
    top: 74px;
    left: 46px;
    filter: invert(99%) sepia(3%) saturate(731%) hue-rotate(298deg) brightness(116%) contrast(100%);
}

.footer_contact_container{
    width: 384px;
}

.footer_see_portfolio_button_container{
    width: 252px;
    height: 72px;
    display: flex;
    background-color: #1b1d23;
    color: #fff;
    position: relative;
    left: 1018px;
    top: 205px;
    text-decoration: none;
}
.footer_see_portfolio_button_container:hover{
    background-color: #60636d;
}


.footer_see_portfolio_button{
    font-family: var(--font-spartan);
    font-weight: 700;
    font-size: 15px;
    margin-top: 27px;
    margin-left: 20px;
}

.footer_see_portfolio_button_container img{
    width: 24px;
    height: 18px;
    margin-top: 27px;
    margin-left: 31px;
    filter: invert(99%) sepia(3%) saturate(731%) hue-rotate(298deg) brightness(116%) contrast(100%);
}



/******************* Portfolio Page  ********************************/
.portfolio_one_tablet_container, .portfolio_two_tablet_container, .portfolio_three_tablet_container, .portfolio_four_tablet_container,
    .portfolio_five_tablet_container, .portfolio_six_tablet_container, .portfolio_seven_tablet_container, .portfolio_eight_tablet_container,
    .portfolio_nine_tablet_container, .portfolio_ten_tablet_container, .portfolio_eleven_tablet_container, .portfolio_twelve_tablet_container{
        display: none;
    }

    .portfolio_one_mobile_container, .portfolio_two_mobile_container, .portfolio_three_mobile_container, .portfolio_four_mobile_container,
    .portfolio_five_mobile_container, .portfolio_six_mobile_container, .portfolio_seven_mobile_container, .portfolio_eight_mobile_container,
    .portfolio_nine_mobile_container, .portfolio_ten_mobile_container, .portfolio_eleven_mobile_container, .portfolio_twelve_mobile_container{
        display: none;
    }


.panel_holder_grid_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    row-gap: 46px;
}

.content_container{
    position: relative;
    top: -111px;
    left: 45px;
}
.portfolio_upper_text{
    font-family: var(--font-spartan);
    font-size: 18px;
    color: #fff;
    font-weight: 700;
}
.portfolio_lower_text{
    font-family: var(--font-spartan);
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    opacity: 0.7;
}



.portfolio_container{
    width: 350px;
    height: 560px;
}

.portfolio_one_container, .portfolio_four_container,
.portfolio_seven_container, .portfolio_ten_container{
    margin-left: 161px;
}

.portfolio_three_container, .portfolio_six_container,
.portfolio_nine_container, .portfolio_twelve_container{
    margin-right: 161px;
}


/***********************About Page    ****************************/
.about_computer_image_mobile{
    display: none;
}
.about_computer_image_tablet{
    display: none;
}

.about_header_wrapper{
    display: flex;
}

.about_first_container{
    width: 553px;
}

.about_first_title_container{
    font-family: var(--font-spartan);
    font-size: 200px;
    font-weight: 700;
    letter-spacing: -5px;
    color: #eeeff4;
    position: relative;
    left: -179px;
    top: 95px;
    z-index: 1;
}
.about_first_title_container p{
    margin: 0px;
}

.about_image_container{
    margin-left: 161px;
}

.about_content_container{
    width: 692px;
    height: 503px;
    position: relative;
    top: -20px;
    left: -155px;
    background-color: #fff;
}

.about_upper_title_text{
    font-family: var(--font-spartan);
    font-size: 56px;
    letter-spacing: -2px;
    color: #1b1d23;
    font-weight: 700;
    width: 400px;
    margin: 0px;
    position: relative;
    top: 217px;
    left: 200px;
}

.about_lower_title_text{
    width: 445px;
    height: 100px;
    color: #60636d;
    font-family: var(--font-spartan);
    font-weight: 500;
    font-size: 15px;
    position: relative;
    top: 250px;
    left: 200px;
    line-height: 25px;
}


.about_middle_wrapper{
    display: flex;
    margin-top: 169px;
}

.about_middle_content_container{
    width: 500px;
    margin-left: 161px;
}
.about_middle_upper_container{
    font-family: var(--font-spartan);
    font-weight: 700;
    font-size: 56px;
    letter-spacing: -2px;
    color: #1b1d23;
    width: 263px;
}

.about_middle_lower_container{
    font-family: var(--font-spartan);
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #60636d;
}

.about_middle_image_container{
    margin-left: 124px;
}

.about_leader_wrapper{
    display: flex;
    margin-top: 191px;
}

.about_leader_container_title{
    font-family: var(--font-spartan);
    font-weight: 700;
    font-size: 56px;
    letter-spacing: -2px;
    color: #1b1d23;
    margin-left: 161px;
    width: 249px;
    height: 200px;
}
.about_leader_container_title p{
    margin: 0px;
}


.about_leader_grid_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 730px;
    height: 860px;
    margin-left: 185px;
    column-gap: 30px;
    margin-left: 185px;
    column-gap: 30px;
}

.about_upper_text{
    font-family: var(--font-spartan);
    font-size: 18px;
    color: #1b1d23;
    font-weight: 700;
}
.about_lower_text{
    font-family: var(--font-spartan);
    font-size: 15px;
    color: #1b1d23;
    font-weight: 500;
    opacity: 0.7;
}




/********************* Contact Page ****************************************/
.image_map_detail_mobile{
    display: none;
}

.contact_phone_image_mobile{
    display: none;
}


.image_map_detail_tablet{
    display: none;
}

.contact_phone_image_tablet{
    display: none;
}

.contact_header_container{
    display: flex;
}

.contact_header_image_container{
    margin-left: 161px;
}

.contact_header_title_container{
    font-family: var(--font-spartan);
    font-weight: 700;
    font-size: 200px;
    letter-spacing: -5px;
    color: #eeeff4;
    margin: 0px;
    position: relative;
    top: 97px;
    left: -344px;
    z-index: 1;
}
.contact_header_title_container p{
    margin: 0px;
}

.contact_description_container{
    width: 667px;
    height: 503px;
    position: relative;
    left: -150px;
    background-color: #fff;
    top: -20px;
}

.contact_header_description_title{
    font-family: var(--font-spartan);
    font-weight: 700;
    font-size: 56px;
    letter-spacing: -2px;
    color: #1b1d23;
    margin: 0px;
    width: 400px;
    position: relative;
    top: 225px;
    left: 178px;
}

.contact_right_content_container{
    width: 550px;
}


.contact_lower_description{
    width: 434px;
    position: relative;
    top: 223px;
    left: 178px;
    font-family: var(--font-spartan);
    font-size: 15px;
    color: #60636d;
    font-weight: 500;
    line-height: 25px;
}

.detail_top_container{
    display: flex;
    margin: 197px 161px 0px 161px;
    justify-content: space-between;
}

.detail_contact_detail_container{
    font-family: var(--font-spartan);
    font-weight: 700;
    font-size: 56px;
    letter-spacing: -2px;
    color: #1b1d23;
    width: 236px;
    height: 172px;
}
.detail_contact_detail_container p{
    margin: 0px;
}

.detail_panel_container{
    display: flex;
    width: 754px;
}
.contact_detail_right_panel{
    margin-left: 161px;
}

.detail_map_container{
    text-align: center;
    margin-top: 205px;
}

.contact_connect_wrapper{
    display: flex;
    margin-top: 196px;
}

.left_one_details, .right_one_details{
    font-family: var(--font-spartan);
    font-size: 15px;
    color: #60636d;
    font-weight: 700;
}

.left_two_details, .left_three_details, .left_four_details,
.right_two_details, .right_three_details, .right_four_details
{
    font-family: var(--font-spartan);
    font-weight: 500;
    font-size: 15px;
    color: #60636d;
}  

.detail_form_container{
    display: flex;
    flex-direction: column;
    width: 730px;
    height: 300px;
    margin-left: 143px;
    justify-content: space-between;
}

.contact_connect_container{
    font-family: var(--font-spartan);
    font-weight: 700;
    font-size: 56px;
    letter-spacing: -2px;
    color: #1b1d23;
    width: 242px;
    margin-left: 161px;
}

.contact_connect_container p{
    margin: 0px;
}

.detail_form_container input{
    border: none;
    border-bottom: 1px solid black;
    font-family: var(--font-spartan);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.31px;
    color: #aab0c2;
}

.detail_form_container input:focus{
    color: black;
    border-bottom: 1.8px solid black;
    outline: none;
}

.connect_arrow_container{
    width: 80px;
    height: 80px;
    background-color: #1b1d23;
    position: relative;
    left: 650px;
}
.connect_arrow_container:hover{
    background-color: #60636d;
}

.connect_arrow_container img{
    position: relative;
    top: 29px;
    left: 26px;
    filter: invert(99%) sepia(3%) saturate(731%) hue-rotate(298deg) brightness(116%) contrast(100%);
}

@media screen and (max-width: 950px) {
    .navbar_wrapper{
        width: 567px;
        display: flex;
    }

    .home_wrapper{
        height: 835px;
    }
    .header_image_container{
        display: flex;
        justify-content: center;
    }

    .paramour_home_desktop_image{
        display: none;
    }  
    .paramour_home_tablet_image{
        display: flex;
    }
    
    .header_description_container{
        position: relative;
        top: -561px;
        left: 195px;
    }
    .header_portfolio_container{
        left: 195px;
    }

    .bottom_navigation_bar{
        display: none;
    }

    .middle_section_title_container{
        width: 585px;
        margin: auto;
    }
    .middle_section_title{
        font-size: 120px;
        letter-spacing: -3px;
        width: 580px;
    }

    .middle_section_wrapper{
        display: flex;
        flex-direction: column;
    }

    .middle_image_description_container{
        flex-direction: column;
        width: 573px;
        margin: auto;
    }
    .middle_section_description_container{
        margin: 0px;
        width: auto;
    }
    .welcome_to_arch_title{
        width: 400px;
    }

    .middle_image_container{
        display: none;
    }

    .desktop_water_building_image{
        display: none;
    }
    
    .water_building_image{
        display: block;
        margin: auto;
    }

    .small_team_bottom_container{
        left: 248px;
    }

    .feature_main_image_container{
        flex-direction: column;
    }

    .feature_image_one{
        display: none;
    }
    .feature_image_one_tablet{
        display: flex;
    }

    .feature_number_image_one{
        top: -243px;
        left: 478px;
        opacity: 0.9;
    }
    .first_feature_image_container, .second_feature_image_container, .third_feature_image_container{
        width: 574px;
        height: 240px;
        margin: auto;
    }

    .feature_image_two{
        display: none;
    }
    .second_feature_image_container{
        margin-top: 39px;
    }
    .tower_building_image_two_tablet{
        display: flex;
    }

    .feature_image_three{
        display: none;
    }
    .third_feature_image_container{
        margin-top: 39px;
    }
    .prototype_building_image_three_tablet{
        display: flex;
    }

    .feature_number_image_two{
        top: -243px;
        left: 417px;
        opacity: 0.9;
    }
    .feature_number_image_three{
        top: -243px;
        left: 418px;
        opacity: 0.9;
    }

    .bottom_button_container{
        width: 612px;
        height: 120px;
        bottom: 3px;
        left: 0px;
    }
    .footer_arch_container, .footer_portfolio_container, .footer_about_container{
        width: 120px;
        height: 120px;
    }
    .footer_portfolio_button, .footer_about_button, .footer_contact_button{
        top: 61px;
        left: 29px;
    }
    .footer_arch_container img{
        width: 57.7px;
        height: 24px;
        top: 56px;
        left: 32px;
    }
    .footer_see_portfolio_button_container{
        left: 509px;
        top: 238px;
    }
    .feature_wrapper{
        margin: auto;
        margin-top: 171px;
    }
    .home_footer_container{
        height: 100%;
    }
    .home_footer_wrapper{
        height: 329px;
    }

    .feature_top_title_container{
        width: 575px;
        margin: auto;
    }


    /*************** Portfolio Responsive ********************/
    .panel_holder_grid_container{
        display: flex;
        flex-direction: column;
    }

    .portfolio_container{
        width: 573px;
        height: 240px;
    }
    .portfolio_one_tablet_container, .portfolio_two_tablet_container, .portfolio_three_tablet_container, .portfolio_four_tablet_container,
    .portfolio_five_tablet_container, .portfolio_six_tablet_container, .portfolio_seven_tablet_container, .portfolio_eight_tablet_container,
    .portfolio_nine_tablet_container, .portfolio_ten_tablet_container, .portfolio_eleven_tablet_container, .portfolio_twelve_tablet_container{
        display: block;
    }
    .portfolio_one_container, .portfolio_two_container, .portfolio_three_container, .portfolio_four_container, .portfolio_five_container,
    .portfolio_six_container, .portfolio_seven_container, .portfolio_eight_container, .portfolio_nine_container, .portfolio_ten_container,
    .portfolio_eleven_container, .portfolio_twelve_container{
        display: none;
    }

    /*************** Portfolio Responsive ********************/
    .about_computer_image{
        display: none;
    }
    .about_computer_image_tablet{
        display: block;
    }

    .about_header_wrapper{
        flex-direction: column;
        height: 830px;
    }

    .about_image_container{
        margin: auto;
    }

    .about_first_container{
        position: relative;
        top: -514px;
        margin: auto;
    }

    .about_first_title_container{
        font-size: 120px;
        width: 395px;
        top: 14px;
        left: 183px;
    }
    .about_first_title_container p{
        width: 391px;
    }

    .about_content_container{
        width: 519px;
        height: 431px;
        top: -60px;
        left: 44px;
    }
    .about_upper_title_text{
        top: 155px;
        left: 74px;
    }
    .about_lower_title_text{
        top: 185px;
        left: 77px;
        margin: 0px;
    }

    .about_middle_content_container{
        margin: auto;
    }

    .about_middle_image_container{
        display: none;
    }

    .about_middle_lower_container{
        line-height: 40px;
    }

    .about_leader_wrapper{
        flex-direction: column;
    }
    .about_leader_container_title{
        margin: auto;
        width: 357px;
        height: 137px;
    }
    .about_leader_grid_container{
        margin: auto;
        justify-items: center;
    }

    .jake_richards_image, .thomas_image, .jackson_image, .simpson_image{
        width: 280px;
    }

    .about_container{
        width: 282px;
    }


    /***************** Contact Page ***************************/
    .contact_phone_image{
        display: none;
    }
    .contact_phone_image_tablet{
        display: block;
    }

    .contact_header_container{
        flex-direction: column;
        height: 741px;
    }
    .contact_header_image_container{
        margin: auto;
    }

    .contact_header_title_container{
        font-size: 120px;
        letter-spacing: -3px;
        top: 58px;
        left: 82px;
        width: 491px;
    }

    .contact_right_content_container{
        position: relative;
        top: -561px;
        width: 574px;
        margin: auto;
    }
    .contact_description_container{
        width: 520px;
        height: 431px;
        left: 54px;
        top: -14px;
    }
    .contact_lower_description{
        top: 198px;
        left: 78px;
        margin: 0px;
    }
    .contact_header_description_title{
        top: 179px;
        left: 78px;
    }
    .contact_header_title{
        width: 489px;
    }


    .detail_top_container{
        flex-direction: column;
    }

    .detail_panel_container{
        flex-direction: column;
    }

    .contact_detail_right_panel{
        margin: 0px;
        margin-top: 31px;
    }

    .image_map_detail_desktop{
        display: none;
    }
    .image_map_detail_tablet{
        display: block;
    }

    .detail_map_container img{
        margin: auto;
    }
    .detail_contact_detail_container{
        width: 419px;
    }

    .contact_connect_wrapper{
        flex-direction: column;
        width: 600px;
        margin: auto;
        margin-top: 122px;
    }
    .contact_connect_container{
        width: 500px;
        margin: 0px;
    }

    .detail_form_container{
        margin: 0px;
        margin-top: 75px;
        width: auto;

    }

    .connect_arrow_container{
        left: 520px;
    }

    .mobile_nav_display{
        width: 343px;
        height: 235px;
        background-color: #eeeff4;
        position: relative;
        top: 179px;
        height: 244px;
        z-index: 1;
    }

}

@media screen and (max-width: 550px) {
    .portfolio_one_mobile_container, .portfolio_two_mobile_container, .portfolio_three_mobile_container, .portfolio_four_mobile_container,
    .portfolio_five_mobile_container, .portfolio_six_mobile_container, .portfolio_seven_mobile_container, .portfolio_eight_mobile_container,
    .portfolio_nine_mobile_container, .portfolio_ten_mobile_container, .portfolio_eleven_mobile_container, .portfolio_twelve_mobile_container{
        display: block;
    }



    .navbar_wrapper{
        justify-content: space-between;
        width: auto;
    }
    .nav_button_container{
        display: none;
    }
    .nav_logo_container{
        margin-left: 32px;
    }
    .hamburger_icon{
        display: block;
        margin-right: 74px;
    }

    .paramour_home_tablet_image{
        display: none;
    }
    .paramour_home_mobile_image{
        display: block;
    }

    .header_wrapper{
        width: 375px;
        margin: auto;
    }

    .header_title_upper{
        width: 300px;
        font-size: 48px;
        letter-spacing: -1.2px;
    }
    .header_title_lower{
        width: 300px;
        font-size: 48px;
        letter-spacing: -1.2px;
    }

    .header_description_container{
        width: 350px;
        top: -462px;
        left: 13px;
        margin: auto;
    }

    .header_paragraph_container{
        width: 328px;
    }

    .header_portfolio_container{
        left: -36px;
        top: -412px;
        position: relative;
        margin: auto;
    }

    .middle_section_title_container{
        display: none;
    }
    .middle_image_description_container{
        width: 375px;
    }

    .middle_section_description_container :first-child{
        width: 300px;
        font-size: 40px;
        letter-spacing: -1.43px;
    }

    .middle_section_description{
        margin-top: 68px;
    }
    .water_building_image_tablet{
        display: none;
    }

    .water_building_image_mobile{
        display: block;
    }

    .middle_image_bottom_container{
        margin: auto;
        margin-top: 100px;
    }

    .small_team_bottom_container{
        left: 0px;
        width: 319px;
        margin: auto;
    }

    .small_teams_title{
        font-size: 40px;
        letter-spacing: -1..43px;
        width: 262px;
    }

    .see_all_btn_container{
        display: none;
    }

    .feature_top_title_container{
        width: 316px;
    }

    .feature_logo_container{
        font-size: 40px;
    }

    .first_feature_image_container, .second_feature_image_container, .third_feature_image_container{
        width: auto;
    }
    .first_feature_image_container img, .second_feature_image_container img, .third_feature_image_container img{
        width: 312px;
        height: 193px;
    }

    .bottom_button_container{
        flex-direction: column;
        height: 332px;
        width: auto;
        left: unset;
        position: unset;
    }
    .footer_arch_container, .footer_portfolio_container, .footer_about_container, .footer_contact_container{
        margin: auto;
    }

    .home_footer_container{
        background-color: #eeeff4;
        width: auto;
    }
    .footer_arch_container img{
        top: 41px;
        left: 30px;
    }

    .footer_portfolio_container{
        height: 55px;
    }
    .footer_about_container{
        height: 55px;
    }
    .footer_contact_container{
        height: 55px;
        width: 120px;
    }

    .footer_portfolio_button, .footer_about_button, .footer_contact_button{
        top: 21px;
        left: 21px;
    }

    .footer_see_portfolio_button_container{
        margin: auto;
        left: 3px;
        top: 0px;
    }
    .home_footer_wrapper{
        height: 100%;
    }


    .portfolio_one_tablet_container, .portfolio_two_tablet_container, .portfolio_three_tablet_container, .portfolio_four_tablet_container,
    .portfolio_five_tablet_container, .portfolio_six_tablet_container, .portfolio_seven_tablet_container, .portfolio_eight_tablet_container,
    .portfolio_nine_tablet_container, .portfolio_ten_tablet_container, .portfolio_eleven_tablet_container, .portfolio_twelve_tablet_container{
        display: none;
    }

    .portfolio_container{
        width: auto;
        margin: auto;
    }

    .portfolio_twelve_mobile_container{
        margin-bottom: 60px;
    }

    .about_computer_image_tablet{
        display: none;
    }
    .about_computer_image_mobile{
        display: block;
    }


    /*************** About Responsive ***********************/
    .about_image_container{
        margin: auto;
        margin-bottom: 0px;
        margin-top: 0px; 
    }

    .about_first_title_container{
        display: none;
    }

    .about_first_container{
        width: auto;
        top: 0px;
    }

    .about_upper_title_text{
        font-size: 40px;
        letter-spacing: -1px;
        position: unset;
    }

    .about_content_container{
        width: 360px;
        position: unset;
    }

    .about_lower_title_text{
        width: 311px;
        position: unset;
        margin-top: 55px;
        height: auto;
    }

    .about_middle_upper_container{
        margin: 0px 0px 0px 50px;
    }

    .about_middle_wrapper{
        margin-top: 0px;
    }
    .about_middle_lower_container{
        margin: auto;
        width: 310px;
    }

    .about_leader_container_title{
        font-size: 40px;
        width: 285px;
    }
    .about_leader_container_title p{
        width: 200px;
    }

    .about_leader_grid_container{
        display: flex;
        flex-direction: column;
        width: auto;
        height: unset;
    }

    .contact_phone_image_tablet{
        display: none;
    }
    .contact_phone_image_mobile{
        display: block;
    }

    .contact_header_title_container{
        display: none;
    }

    .contact_right_content_container{
        position: unset;
        width: auto;
        margin-top: 88px;
    }
    .contact_header_description_title{
        font-size: 40px;
        letter-spacing: -1px;
        position: unset;
        width: 277px;
    }
    .contact_description_container{
        position: unset;
        width: 375px;
    }

    .contact_lower_description{
        position: unset;
        width: 349px;
        margin-top: 32px;
    }

    .detail_top_container{
        margin: 0px;
    }

    .detail_contact_detail_container p{
        width: 249px;
    }

    .detail_contact_detail_container{
        width: 250px;
        margin: 0px 20px 0px 20px;
    }

    .contact_detail_wrapper{
        width: 375px;
        margin: auto;
    }
    
    .detail_panel_container{
        width: 334px;
        margin: auto;
    }

    .image_map_detail_tablet{
        display: none;
    }
    .image_map_detail_mobile{
        display: block;
    }

    .detail_map_container{
        margin-top: 97px;
    }

    .contact_connect_container{
        font-size: 40px;
    }

    .contact_connect_container{
        width: 325px;
        margin: auto;
    }

    .contact_connect_wrapper{
        width: auto;
    }

    .detail_form_container{
        width: 375px;
        margin: auto;
        margin-top: 40px;
    }

    .mobile_nav_display{
        width: 343px;
        height: 235px;
        background-color: #eeeff4;
        position: relative;
        top: 179px;
        height: 244px;
        z-index: 1;
    }

    .portfolio_anchor_mobile, .about_anchor_mobile, .contact_anchor_mobile{
        font-family: var(--font-spartan);
        font-size: 18px;
        color: #1b1d23;
        font-weight: 700;
        text-decoration: none;
        width: 100px;
        display: block;

        margin-top: 45px;
        margin-left: 43px;
    }

    .close_icon{
        position: relative;
        right: -190px;
        top: -67px;
    }

    .connect_arrow_container{
        margin: auto;
        margin-top: 0px;
        left: 148px;
        top: 9px;
    }

    #input_email, #input_message{
        margin-top: 23px;
    }

}
